* {
    padding: 0;
    margin: 0;
}

body {
    width: 100vw;
    min-width: 1080px;
    height: 100vh;
    background-image: url("../img/bg.jpg");
    background-size: 100% 100%;
    padding-bottom: 10rem;
    box-sizing: border-box;
    position: relative;
}

ul {
    list-style: none;
}

.menuList {
    color: #fff;
    width: 100%;
    line-height: 60rem;
    height: 60rem;
    text-align: center;
    overflow: hidden;
    padding: 10rem 0;
}


.menuList .menuItem {
    display: inline-block;
    padding: 10rem 15rem;
    font-size: 14rem;
    line-height: 20rem;
    box-shadow: 0 0 30rem #1163ac inset;
    margin: 20rem 10rem 0;
    cursor: pointer;
    position: relative;
}

.menuItem:before, .menuItem:after, .menuItem span:before, .menuItem span:after {
    position: absolute;
    content: '';
    display: block;
    width: 5rem;
    height: 5rem;
    box-sizing: border-box;
}

.menuItem span:before, .menuItem span:after {
    right: 0;
    border-right: 2rem solid #25cbf6;
}

.menuItem span:before {
    top: 0;
    border-top: 2rem solid #25cbf6;
}

.menuItem span:after {
    bottom: 0;
    border-bottom: 2rem solid #25cbf6;
}

.menuItem:before {
    left: 0;
    top: 0;
    border-left: 2rem solid #25cbf6;
    border-top: 2rem solid #25cbf6;
}

.menuItem:after {
    left: 0;
    bottom: 0;
    border-left: 2rem solid #25cbf6;
    border-bottom: 2rem solid #25cbf6;
}

.menuList .active {
    background-color: rgba(156, 131, 53, 0.7);
    box-shadow: 0 0 30rem rgba(156, 131, 53, 0.1) inset;
}

.menuList .active:before, .menuList .active:after, .menuList .active span:before, .menuList .active span:after {
    border-color: rgba(156, 131, 53, 0.7);
}

.menuList .title {
    display: inline-block;
    font-size: 40rem;
    font-weight: bold;
    line-height: 60rem;
    /*overflow: hidden;*/
    border: none;
}

.main {
    width: 100%;
    height: calc(100% - 80rem);
}

.main .container {
    width: calc(100% / 6);
    height: 100%;
    float: left;
    padding: 5rem;
    box-sizing: border-box;
    overflow: hidden;
    color: #ffffff;
    text-align: center;
    line-height: 30rem;

}

.main .container:nth-child(3) {
    width: calc(100% / 3);
}

.container .vBox {
    width: 100%;
    height: calc((100% - 30rem) / 3);
    margin-bottom: 10rem;
    border: 1rem solid cadetblue;
}

.container h6 {
    line-height: 30rem;
    font-size: 16rem;
    display: inline-block;
    padding: 0 20rem;
    background-image: url("../img/title.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.container .chart {
    width: calc(100% - 20rem);
    height: calc(100% - 40rem);
    margin-left: 10rem;
    overflow: hidden;
    position: relative;
}

#chart1, #chart2, #chart3, #chart4, #chart5, #chart6, #chart7, #chart8, #chart9 {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

.container #chart3 {
    background-color: rgba(16, 38, 60, .8);
}

#chart3 ul {
    width: 95%;
    margin-left: 2.5%;
    margin-top: 10rem;
}

#chart3 ul:after {
    clear: both;
    content: '';
    display: block;
}

#chart3 .item {
    width: 30%;
    background-color: #114c88;
    font-size: 12rem;
    text-align: center;
    color: #fff;
    float: left;
}

#chart3 p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#chart3 .item p:nth-child(2) {
    color: #28d4ed;
    font-size: 14rem;
}

#chart3 .item:nth-child(2) {
    margin: 0 5%;
}

#chart3 .item span {
    font-size: 10rem;
}

#chart3 .slideBox {
    float: left;
    width: 45%;
    height: calc(100% - 85rem);
    margin: 10rem 2.5% 0;
}

#chart3 .slideBox p {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}


#chart3 .slideBox span {
    padding: 5rem 2rem;
    display: block;
    line-height: 20rem;
    font-size: 10rem;
    border: 1rem solid #fff;
    border-collapse: collapse;

}

#chart3 .showNumber {
    width: 100%;
    margin-top: 5rem;
    background-image: url("../img/1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
    height: calc(100% - 40rem);
    position: relative;
}

#chart3 .showNumberTwo {
    background-image: url("../img/2.png");
}

#chart3 .showNumber .left {
    position: absolute;
    top: 50%;
    left: 14%;
    transform: translateY(-50%);
}

#chart3 .showNumber .right {
    left: 60%;
}

#chart3 .showNumber p:nth-child(2) {
    color: #28d4ed;
}

#chart3 .showNumber .right p:nth-child(2) {
    color: #f9430a;
}

.container .h2 {
    height: calc(2 * (100% - 30rem) / 3 + 12rem);
}

.container .h3 {
    position: relative;
    height: calc(100% - 7rem);
    color: #fff;
}

.pTitle {
    width: 95%;
    font-size: 14rem;
    line-height: 25rem;
    padding: 0 3%;
    box-sizing: border-box;
    margin: 0 auto 5rem;
    display: flex;
    justify-content: space-between;
    background-color: rgba(16, 38, 60, .8);
}

.container #chart8 {
    height: calc(100% - 90rem);
}

.container li {
    font-size: 16rem;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;
    border-collapse: collapse;
    box-sizing: border-box;
    border: 1px solid rgba(28, 102, 160, 0.97);
}

.tabList {
    width: 100%;
    display: flex;
}

.tabList li {
    cursor: pointer;
    text-align: center;
    font-size: 13rem;
    line-height: 30rem;
}

.tabList .active {
    background-color: #1c66a0;
}

.inforList {

    border: 1rem solid #25cbf6;
    border-collapse: collapse;

    overflow: hidden;

    box-sizing: border-box;
}

.inforList .title {
    line-height: 36rem;
    padding: 0 3%;
    width: 94%;
    text-align: left;
}

.inforList ul {
    width: 100%;
    height: calc(100% - 36rem);
    overflow-y: scroll;
    -ms-overflow-style: none;
}

.inforList ul::-webkit-scrollbar {
    width: 0 !important
}

.inforList li {
    padding: 0 3%;
    line-height: 40rem;
    height: 40rem;
}

.inforList .icon {
    height: 27rem;
    width: 16rem;
    margin-top: 2.5rem;
    float: left;
}

.inforList .title {
    background-color: rgba(28, 102, 160, 0.36);;
}

.jgry {
    width: 100%;
    overflow: hidden;
    height: calc(100% - 30rem);
}

.jgry .litBox {
    height: 35rem;
    padding: 5rem;
    display: flex;
}

.jgry button {
    color: #fff;
    line-height: 30rem;
    height: 30rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-right: 3%;
    flex: 1;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid rgba(28, 102, 160, 0.97);
}

.jgry input {
    color: #fff;
    text-indent: 1em;
    margin-right: 3%;
    line-height: 30rem;
    height: 30rem;
    outline: none;
    background-color: transparent;
    border: 1px solid rgba(28, 102, 160, 0.97);
}

.jgry input::-webkit-input-placeholder {
    /* placeholder颜色 */
    color: #fff;
}

.csry {
    height: 40%;
}

.csry .icon {
    margin-right: 10rem;
}

.xgry {
    margin-right: 6%;
}

.xxry, .xgry {
    margin-top: 10rem;
    height: calc(60% - 65rem);
    width: 47%;
    float: left;
}

.xxry li, .xgry li {
    line-height: 30rem;
    height: 60rem;
}

.xxry li p, .xgry li p {
    float: left;
    width: calc(100% - 28rem);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-left: 10rem;
}

.h3 > div {
    position: absolute;
    z-index: 1;
}

.h3 #allmap {
    left: 0;
    top: 0;
    width: 100%;
}

.h3 .top {
    top: 10rem;
    font-size: 30rem;
}

.h3 .top p {
    text-align: left;
    font-size: 20rem;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-indent: 1em;
    display: flex;
    align-items: center;
}

.h3 .top p span {
    display: block;
    font-size: 40rem;
    width: 50rem;
    height: 50rem;
    line-height: 50rem;
    background-color: transparent;
    color: #25cbf6;
    font-weight: bold;
    text-align: center;
    text-indent: 0;
    border: 2rem solid #1d72bb;
    box-shadow: 0 0 30rem #1163ac inset;
    margin-left: 10rem;
}

.h3 .bottom {
    width: 100%;
    bottom: 10rem;
}

.h3 .bottom ul {
    width: 98%;
    margin: 0 auto;
    border: none;
}

.h3 .bottom ul:after {
    content: '';
    display: block;
    clear: both;
}

.h3 .bottom .item {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 10rem -0px;
    color: #fff;
    font-size: 10rem;
    text-align: center;
    float: left;
    width: 18%;
    margin-bottom: 10rem;
    border: 2rem solid #1d72bb;
    box-shadow: 0 0 30rem #1163ac inset;
    background-color: rgba(1, 41, 79, 0.6);
    box-sizing: border-box;
}

.h3 .bottom .item:nth-child(5n-3) {
    margin-left: 2.5%;
    margin-right: 2.5%;
}


.h3 .bottom .item:nth-child(5n-1) {
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.h3 .bottom p {
    line-height: 16rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;

}

.h3 .bottom span {
    font-weight: bold;
}


#chart6 > div {
    float: left;
    height: 100%;
}

#chart6 .col1 {
    width: 20%;
    display: flex;
    color: #fff;
    flex-direction: column;
    justify-content: center;
    font-size: 12rem;
}

#chart6 .col1 .num {
    color: #25cbf6;
    font-size: 18rem;
}

#chart6 .col1 e {
    color: #fff;
    font-size: 12rem;
}

#chart6 .col2 {
    width: 30%;
}

#chart6 .col3 {
    width: 50%;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#chart6 .col3 p {
    line-height: 20rem;
    font-size: 10rem;
    margin-bottom: 5rem;
}

#chart6 .col3 span {
    margin-right: 5rem;
    display: inline-block;
    padding: 2rem 5rem;
    background-color: #f9430a;
}

#chart6 .col3 .row1 {
    background-color: #0a6291;
}

#chart6 .col3 .row2 {
    background-color: #22a94c;
}

/*去除地图logo*/
.BMap_cpyCtrl {

    display: none;

}

.anchorBL {

    display: none;

}

